## DS_???_PASS=str: database password for wildfly (i2b2-backend) users to connect
## Must be changed manually on database if updating here
DS_PM_PASS=demouser
DS_WD_PASS=demouser
DS_HIVE_PASS=demouser
DS_CRC_PASS=demouser
DS_ONT_PASS=demouser

## POSTGRES_PASSWORD=str: Main postgres user password for database - setting here allows you to connect (eg via pgadmin) for debugging etc
POSTGRES_PASSWORD=ChangeMe
